.container
{
  align-items: center;
}

.top-bar
{
  height: 100px;
  align-items: center;
  display: flex;
}

.logo
{
  align-items: center;
  display: flex;
  padding-right: 450px;
}

.logo-image
{
  height: 80px;
}

.icon
{
  padding-right: 50px;
  cursor: pointer;
}

.icon:hover
{
  color: silver;
}

.pictures
{
  background-color: black;
  height: 450px;
  width: 80%;
  margin: auto;
}

.selection-bar
{
  align-items: center;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.circle:hover
{
  color: red;
}

.circle
{
  cursor: pointer;
}

.clicked-circle
{
  color: red;
  cursor: default;
}

.bottom-bar
{
  height: 350px;
  display: flex;
}

.info
{
  width: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex: 1;
  margin-left: 180px;
}

.map
{
  width: 40%;
  flex: 1;
  height: 100%;
  margin-right: 150px;
}
