<!--header-->
  <link href="contact.component.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<div class = "top-bar">
  <div class = "logo">
    <img src = "assets/logo.jpeg" class = "logo-image">
  </div>
  <div class = "icon" (click)="displayMain(pagesArray)">
    Home
  </div>
  <div class = "icon">
    Informations
  </div>
  <div class = "icon" (click)="displayContact(pagesArray)">
    Contact
  </div>
  <div class = "icon">
    Cars list
  </div>
  <div class = "icon">
    <i class="fa fa-facebook"></i>
  </div>
  <div class = "icon">
    <i class="fa fa-instagram"></i>
  </div>
</div>

<!--form-->
<div class="container">
  <div class="split left">
      <div class="content">
          <h1><strong>Contattaci</strong></h1>
          <br><br>
          Via Aldo Moro, 37 71029 Troia FG<br>
          71029 Troia FG<br>
          Phone: 705-742-3221<br>
          email: arturauto@gmail.com
          <br>
          <div>
              <a href="https://www.facebook.com/profile.php?id=100057620522244" class="fa fa-facebook"></a>
              <a href="https://instagram.com/arturauto_di_venezianomaria?igshid=MXQ4NzI3cnBvYThkeA== "
              class="fa fa-instagram"></a>
          </div>
      </div>
  </div>
</div>
<div class="split right">

  <form>
      <br><br><br><br><br><h2><strong>Compila il form per ulteriori informazioni</strong></h2>
      <br>
      <label for="name">Nome</label><br>
      <input type="text" name="name" placeholder="Inserisci il nome"><br><br>
      <label for="cognome">Cognome</label><br>
      <input type="text" name="cognome" placeholder="Inserisci il cognome"><br><br>
      <label for="email">Email</label><br>
      <input type="email" name="email" placeholder="Inserisci indirizzo email" required><br><br>
      <label for="messagge">Messaggio</label><br>
      <textarea type="textarea" name="message" placeholder="Inserisci messaggio" required></textarea>
  </form>
  <button type="submit">Invia</button>
</div>
